In [1]:
from absenteeism_model import *

In [2]:
df = pd.read_csv('Absenteeism_new_data.csv')

In [3]:
df.head()

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets
0,22,27,01/06/2018,179,26,30,237.656,19,3,0,0
1,10,7,04/06/2018,361,52,28,237.656,27,1,1,4
2,14,23,06/06/2018,155,12,34,237.656,25,1,2,0
3,17,25,08/06/2018,179,22,40,237.656,22,2,2,0
4,14,10,08/06/2018,155,12,34,237.656,25,1,2,0

In [4]:
model = absenteeism_model('model','scaler')

In [5]:
model.load_and_clean('Absenteeism_new_data.csv')

In [12]:
model.predicted_outputs()

,reason_type_1,reason_type_2,reason_type_3,reason_type_4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pets,Probability,Prediction
0,False,0.0,False,True,6,179,30,19,1,0,0,0.477891,0
1,True,0.0,False,False,6,361,28,27,0,1,4,0.917279,1
2,False,0.0,False,True,6,155,34,25,0,2,0,0.760050,1
3,False,0.0,False,True,6,179,40,22,1,2,0,0.571368,1
4,True,0.0,False,False,6,155,34,25,0,2,0,0.884310,1
5,True,0.0,False,False,6,225,28,24,0,1,2,0.864874,1
6,True,0.0,False,False,6,118,46,25,0,2,0,0.781322,1
7,False,0.0,False,True,6,179,30,19,1,0,0,0.477891,0
8,False,0.0,False,True,6,118,37,28,0,0,0,0.617559,1
9,True,0.0,False,False,6,118,37,28,0,0,0,0.795782,1
10,False,0.0,False,True,6,378,36,21,0,2,4,0.737974,1
11,False,0.0,True,False,6,118,50,31,0,1,0,0.605102,1
12,False,0.0,True,False,6,233,31,21,1,1,8,0.220356,0
13,False,0.0,False,True,6,179,30,19,1,0,0,0.477891,0
14,False,0.0,False,False,6,235,48,33,0,1,5,0.262300,0
15,False,0.0,False,False,6,268,33,25,1,0,0,0.397912,0
16,False,0.0,True,False,6,118,50,31,0,1,0,0.605102,1
17,True,0.0,False,False,6,179,30,19,1,0,0,0.688356,1
18,False,0.0,False,True,6,291,40,25,0,1,1,0.753772,1
19,True,0.0,False,False,7,179,30,19,1,0,0,0.690248,1
20,False,0.0,False,True,7,118,37,28,0,0,0,0.619643,1
21,False,0.0,False,True,7,233,31,21,1,1,8,0.221877,0
22,True,0.0,False,False,7,118,37,28,0,0,0,0.797214,1
23,True,0.0,False,False,7,118,37,28,0,0,0,0.797214,1
24,False,0.0,False,True,7,233,31,21,1,1,8,0.221877,0
25,False,0.0,False,True,7,235,43,38,0,1,0,0.882058,1
26,False,0.0,True,False,7,233,31,21,1,1,8,0.221877,0
27,True,0.0,False,False,7,228,58,22,0,2,1,0.703007,1
28,False,0.0,False,True,7,118,37,28,0,0,0,0.619643,1
29,True,0.0,False,False,7,228,58,22,0,2,1,0.703007,1
30,False,0.0,False,True,7,189,33,25,0,2,2,0.716329,1
31,False,0.0,False,True,7,118,37,28,0,0,0,0.619643,1
32,False,0.0,False,True,7,361,28,27,0,1,4,0.822567,1
33,False,0.0,False,True,7,225,28,24,0,1,2,0.727955,1
34,True,0.0,False,False,7,369,31,25,0,3,0,0.975420,1
35,True,0.0,False,False,7,289,33,30,0,2,1,0.954055,1
36,True,0.0,False,False,7,235,37,29,1,1,1,0.845233,1
37,False,0.0,False,False,7,118,40,34,0,1,8,0.125122,0
38,False,0.0,False,False,7,231,39,35,0,2,2,0.630923,1
39,False,0.0,False,False,7,179,53,25,0,1,1,0.213755,0

In [14]:
import pymysql

In [16]:
query = 'SELECT * FROM predicted_outputs'

In [18]:
conn= pymysql.connect(database='predicted_outputs' , user='root', password='fireandwater')

In [20]:
cursor = conn.cursor()

In [24]:
cursor.execute(query)

0

In [26]:
# checkpoint
df_new_obs = model.predicted_outputs()

In [28]:
df_new_obs.columns.values

array(['reason_type_1', 'reason_type_2', 'reason_type_3', 'reason_type_4',
       'Month Value', 'Transportation Expense', 'Age', 'Body Mass Index',
       'Education', 'Children', 'Pets', 'Probability', 'Prediction'],
      dtype=object)

In [34]:
df_new_obs['Age']

0     30
1     28
2     34
3     40
4     34
5     28
6     46
7     30
8     37
9     37
10    36
11    50
12    31
13    30
14    48
15    33
16    50
17    30
18    40
19    30
20    37
21    31
22    37
23    37
24    31
25    43
26    31
27    58
28    37
29    58
30    33
31    37
32    28
33    28
34    31
35    33
36    37
37    40
38    39
39    53
Name: Age, dtype: int64

In [36]:
insert_query='INSERT INTO predicted_outputs values'

In [38]:
for i in range(df_new_obs.shape[0]):
    insert_query += '(' 
    
    for j in range(df_new_obs.shape[1]):
        insert_query += str(df_new_obs[df_new_obs.columns.values[j]][i]) + ', '
    
    insert_query = insert_query[:-2] + '), '

In [40]:
insert_query = insert_query[:-2] + ';'

In [42]:
insert_query

'INSERT INTO predicted_outputs values(False, 0.0, False, True, 6, 179, 30, 19, 1, 0, 0, 0.477890608275255, 0), (True, 0.0, False, False, 6, 361, 28, 27, 0, 1, 4, 0.9172791378825419, 1), (False, 0.0, False, True, 6, 155, 34, 25, 0, 2, 0, 0.7600501174147563, 1), (False, 0.0, False, True, 6, 179, 40, 22, 1, 2, 0, 0.5713677038628882, 1), (True, 0.0, False, False, 6, 155, 34, 25, 0, 2, 0, 0.8843100145000867, 1), (True, 0.0, False, False, 6, 225, 28, 24, 0, 1, 2, 0.8648740788434567, 1), (True, 0.0, False, False, 6, 118, 46, 25, 0, 2, 0, 0.7813220391554044, 1), (False, 0.0, False, True, 6, 179, 30, 19, 1, 0, 0, 0.477890608275255, 0), (False, 0.0, False, True, 6, 118, 37, 28, 0, 0, 0, 0.6175585892161045, 1), (True, 0.0, False, False, 6, 118, 37, 28, 0, 0, 0, 0.7957820935149856, 1), (False, 0.0, False, True, 6, 378, 36, 21, 0, 2, 4, 0.7379739725915707, 1), (False, 0.0, True, False, 6, 118, 50, 31, 0, 1, 0, 0.6051016799985888, 1), (False, 0.0, True, False, 6, 233, 31, 21, 1, 1, 8, 0.22035578926130373, 0), (False, 0.0, False, True, 6, 179, 30, 19, 1, 0, 0, 0.477890608275255, 0), (False, 0.0, False, False, 6, 235, 48, 33, 0, 1, 5, 0.2623003142659087, 0), (False, 0.0, False, False, 6, 268, 33, 25, 1, 0, 0, 0.39791159450109037, 0), (False, 0.0, True, False, 6, 118, 50, 31, 0, 1, 0, 0.6051016799985888, 1), (True, 0.0, False, False, 6, 179, 30, 19, 1, 0, 0, 0.688355874489145, 1), (False, 0.0, False, True, 6, 291, 40, 25, 0, 1, 1, 0.7537715683914318, 1), (True, 0.0, False, False, 7, 179, 30, 19, 1, 0, 0, 0.6902480422386127, 1), (False, 0.0, False, True, 7, 118, 37, 28, 0, 0, 0, 0.6196430898430858, 1), (False, 0.0, False, True, 7, 233, 31, 21, 1, 1, 8, 0.2218774051840774, 0), (True, 0.0, False, False, 7, 118, 37, 28, 0, 0, 0, 0.7972141638001982, 1), (True, 0.0, False, False, 7, 118, 37, 28, 0, 0, 0, 0.7972141638001982, 1), (False, 0.0, False, True, 7, 233, 31, 21, 1, 1, 8, 0.2218774051840774, 0), (False, 0.0, False, True, 7, 235, 43, 38, 0, 1, 0, 0.8820582049630169, 1), (False, 0.0, True, False, 7, 233, 31, 21, 1, 1, 8, 0.2218774051840774, 0), (True, 0.0, False, False, 7, 228, 58, 22, 0, 2, 1, 0.7030071867707985, 1), (False, 0.0, False, True, 7, 118, 37, 28, 0, 0, 0, 0.6196430898430858, 1), (True, 0.0, False, False, 7, 228, 58, 22, 0, 2, 1, 0.7030071867707985, 1), (False, 0.0, False, True, 7, 189, 33, 25, 0, 2, 2, 0.7163290428036329, 1), (False, 0.0, False, True, 7, 118, 37, 28, 0, 0, 0, 0.6196430898430858, 1), (False, 0.0, False, True, 7, 361, 28, 27, 0, 1, 4, 0.8225668436761042, 1), (False, 0.0, False, True, 7, 225, 28, 24, 0, 1, 2, 0.7279551759153584, 1), (True, 0.0, False, False, 7, 369, 31, 25, 0, 3, 0, 0.9754202019529641, 1), (True, 0.0, False, False, 7, 289, 33, 30, 0, 2, 1, 0.9540553391177585, 1), (True, 0.0, False, False, 7, 235, 37, 29, 1, 1, 1, 0.84523264606739, 1), (False, 0.0, False, False, 7, 118, 40, 34, 0, 1, 8, 0.12512183805233446, 0), (False, 0.0, False, False, 7, 231, 39, 35, 0, 2, 2, 0.6309233935119716, 1), (False, 0.0, False, False, 7, 179, 53, 25, 0, 1, 1, 0.21375543696336147, 0);'

In [44]:
cursor.execute(insert_query)

40

In [46]:
conn.commit()

In [52]:
cursor.execute('SELECT age FROM Predicted_outputs;')

40

In [54]:
conn.close()